<h1>Academia</h1>
<p>Here I give a brief overview of my academic background, acheivements and certifications</p>
<div class="blob">
  <h2><%= link_to "The University of Nottingham", "https://www.nottingham.ac.uk/" %> <small>2006-2010</small></h2>
  <h4>BA Hons 2:1 Modern Language Studies</h4>
  <p>
    Here I study a four-year sandwich course, which involved two years' academic study in Nottingham,
    a year abroad - with no formal academic assessment, and a fourth year back in Nottingham.
  </p>
  <p>
    The first two years were incredible, and I developed as much socially as I did academically, that's
    not to say I didn't study, I did study and passed all my exams and had a great time. In these years I was
    introduced to Slovene (that's the language they speak in Slovenia, NOT Slovakia!) and continued
    my studies of the French and Spanish languages, as well as attending several courses on French/Spanish/Latin
    American literature and history.
  </p>
  <p>
    My third year was an adventure. I spent the first few months of the academic year studying in Ljubljana
    - the capital of Slovenia - and met loads of new people from a plethora of different countries.
    I spent most of the winter working in a ski shop, in the French Alps. I spent the last part of
    the academic year at a language school in the Spanish city of San Sebastian, where I "learnt" to
    surf, I can go (a little) more than 10m now!
  </p>
  <p>
    My final year was back in Nottingham, and I also started to learn a little Serbian, as well as
    continuing with my other languages.
  </p>
</div>
<div class="blob">
  <h2><%= link_to "Uplands Community College", "http://www.uplandscc.com/" %> <small>1999-2006</small></h2>
  <h4>A-levels, AS-levels and GCSEs</h4>