<h1>Academia</h1>
<p>Here I give a brief overview of my academic background, acheivements and certifications</p>
<div class="blob">
  <h2><%= link_to "The University of Nottingham", "https://www.nottingham.ac.uk/" %> <small>2006-2010</small></h2>
  <h4>BA Hons 2:1 Modern Language Studies</h4>
  <p>
    Here I study a four-year sandwich course, which involved two years' academic study in Nottingham,
    a year abroad - with no formal academic assessment, and a fourth year back in Nottingham.
  </p>
  <p>
    The first two years were incredible, and I developed as much socially as I did academically, that's
    not to say I didn't study, I did study and passed all my exams and had a great time. In these years I was
    introduced to Slovene (that's the language they speak in Slovenia, NOT Slovakia!) and continued
    my studies of the French and Spanish languages, as well as attending several courses on French/Spanish/Latin
    American literature and history.
  </p>
  <p>
    My third year was an adventure. I spent the first few months of the academic year studying in Ljubljana
    - the capital of Slovenia - and met loads of new people from a plethora of different countries.
    I spent most of the winter working in a ski shop, in the French Alps. I spent the last part of
    the academic year at a language school in the Spanish city of San Sebastian, where I "learnt" to
    surf, I can go (a little) more than 10m now!
  </p>
  <p>
    My final year was back in Nottingham, and I also started to learn a little Serbian, as well as
    continuing with my other languages.
  </p>
</div>
<div class="blob">
  <h2><%= link_to "Uplands Community College", "http://www.uplandscc.com/" %> <small>1999-2006</small></h2>
  <h4>A-levels, AS-levels and GCSEs</h4>
  <p>
    I started at Uplands, which was my local comprehensive school in 1999, and made a lot of friends
    there. I was always a good student, and only got in trouble a few times for not having homework.
    I guess I tende to be the annoying student who would always point out the teachers' mistakes ("miss!
    Miss! You forgot to dot the 'i'!"). I played rugby for the school and took part in the school orchestra
    as its lead bassoonist. I admit there was only one bassoonist, but I still want the title! My favourite
    subjects at school were maths, chemistry and foreign languages. I thought English was pointless and
    history was boring and just remembering a load of dates was too much effort. I didn't mind the other
    subjects.
    
    I decided to study French, Spanish, maths, chemistry and biology to AS-level. Trying to leave
    the door open to studying medicine and languages. At the end of the year, I decided to go down
    the languages path, as I wasn't really sure what I wanted to do and this wouldn't lock me into
    anything in particular.
  </p>
</div>