<h1>Various Other Acheivements</h1>

<div class="blob">
  <h4>Certificate in English Language Teaching to Adults (CELTA) <small>September 2010</small></h4>
  <p>
    I completed my CELTA in Valencia, in Spain. This is the most standard and reputable certificate
    for teachers of English as a foreign language, awarded by the University of Cambridge.
  </p>
</div>

<div class="blob">
  <h4> Driving <small>summer 2010</small></h4>
  <p>I have a full, clean driving licence.</p>
</div>