    <footer>
      <p>
        <%= link_to image_tag("GitHub-Mark/PNG/GitHub-Mark-32px.png"), "https://github.com/Tomy8s" %>&nbsp;&nbsp;
        <i>By <%= link_to "T.Yates","mailto:t.w.yates@hotmail.co.uk" %></i>
      </p>
    </footer>
  </body>
</html>