    <footer>
      <p>
        <%= link_to image_tag("GitHub-Mark/PNG/GitHub-Mark-32px.png"), "https://github.com/Tomy8s" %>&nbsp;&nbsp;
        <i>By <%= link_to "T.Yates","mailto:t.w.yates@hotmail.co.uk" %></i>&nbsp;&nbsp;
        <%= link_to image_tag("CodeWars-Mard/logo-square-paper-bg.jpg", size: "32"), "https://www.codewars.com/users/Tomy8s">
      </p>
    </footer>
  </body>
</html>