    <footer>
      <p><i>By <u><a href="mailto:t.w.yates@hotmail.co.uk">T.Yates</a></u></i>
      <a href="https://github.com/Tomy8s/heroku-ror/tree/master/app/views<%= request.path.empty? ? "/home/welcome" : request.path %>.html.erb">This page on Github</a></p>
    </footer>
  </body>
</html>