<!DOCTYPE html>
<html>
<head>
  <title>Tom's site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="top">
        <header id="titlebox">
            <h1 id="title"><span id="T">T</span><span id="o">o</span><span id="m">m</span><span id="apo">'</span><span id="s">s </span><span id="S">S</span><span id="i">i</span><span id="t">t</span><span id="e">e</span></h1>
        </header>
        <nav id="navtop">
            <ul>
                <li>
                    <a href="./about_me.html" target="iframe">About me</a>
                </li>
                <li>
                    <a href="./TEFL.html" target="iframe">TEFL</a>
                </li>
                <li>
                    <a href="./learning.html" target="iframe">Learning</a>
                    <ul>
                        <li>
                            <a href=./learning/acadaemia.html target="iframe">Academia</a>
                        </li>
                        <li>
                            <a href="./learning/computing.html" target="iframe">Computing and IT</a>
                        </li>
                        <li>
                            <a href="./learning/misc.html" target="iframe">Other learning acheivements</a>
                        </li>
                    </ul><!--Learning-->
                </li>
                <li>
                    <a href="./projects.html" target="iframe">Projects</a>
                    <ul>
                      <li>
                        <%= link_to "4 letters", projects_fourletters_path %>
                      </li>
                        <li>
                            <a href="./projects/maths/maths.html" target="iframe">Maths</a>
                        </li>
                        <li>
                            <a href="./projects/calendar/calendar.php" target="iframe">Calendar</a>
                        </li>
                        <li>
                            <a href="./projects/game_of_life/game_of_life.html" target="iframe">Conway's Game of Life</a>
                        </li>
                    </ul>
                </li><!--Projects-->
            </ul><!--All items-->
        </nav><!--Navtop-->
    </div><!--Top-->