<% form_for(:users, :url => {:controller => :users, :action => :loggingin}) do |f| %>
<table>
  <tr>
    <td>
      Username:
    </td>
    <td>
      <%=f.text_field :uname%>
    </td>
  </tr>
  <tr>
    <td>
      Password:
    </td>
    <td>
      <%=f.password_field :password%>
    </td>
  </tr>
</table>
<% end %>