<div id=content>
    <h1>Welcome all!</h1>
    <p>
        Hello Everybody and welcome to my homepage. Explore throught the jungle of
        bodged together pages (Yay for bodging together!), and feel free to leave a
        comment - once I've made a way for you to put in comments that is.
    </p>
    <p>
        Check out my Infraprovements site! - <a href="http://infraprovements.herokuapp.com">infraprovements.herokuapp.com</a>.
    </p>
    <p>
        Enjoy and have fun!
    </p>
</div>