<h1>Useful Sites for English Learners</h1>

<div class="blob">
  <h3><a href="https://www.youtube.com/watch?v=gZzKe1BC2XU">Fluency MC&#39;s Irregular Verb Rap</a></h3>
  <a href="https://www.youtube.com/watch?v=gZzKe1BC2XU">Go to site</a>
  <p>Watch, listen and learn as Fluency MC raps some irregular verbs, some of which are more useful than others</p>
  <p class="created">Uploaded: 2016-04-24 19:23:32 UTC</p>
</div>
<div class="blob">
  <h3><a href="http://www.bbc.com/news">BBC News</a></h3>
  <a href="http://www.bbc.com/news">Go to site</a>
  <p>This is a link to BBC News.</p>
  <p class="created">Uploaded: 2016-04-24 18:31:13 UTC</p>
</div>