<h1>About me</h1>
<article>
  <p>
    My name is Tom. I was born and grew up in the county of East Sussex in South East England. I we
    nt to school in the nearby town of Tunbridge Wells and then to a secondary school in the nearer
    by (if that isn't a word, it should be!) village of Wadhurst.
  </p>
  <p>
    I finished school with A-levels in French, Spanish and Chemistry, and AS-levles in Maths and bi
    ology. And went to study languages at the University of Nottingham.  During my studies at Notti
    ngham I spent a year abroad in France, Spain and Slovenia, eventually graduating in 2010.
  </p>
  <p>
    When I left uni I was no surer of my place in the world than I had been when I started. With th
    e intention of seeing how life was in different parts of the world I trained as an English-as-a
    -foreign-language (again, this should be a word!) teacher. While completing my training an offe
    r was confirmed to work in Chamonix - Yay! Off to the French Alps!
  </p>
  <p>
    Those reading attentively will have noticed that the offer for work in France came before I'd t
    rained to be a teacher. I headed of to the Mecca of off-piste skiing and... sat in an office fi
    ve and a half good skiing days a week :(. That's not to say the job was particularly bad, I jus
    t wasn't skiing!
  </p>
  <p>
    The end of the ski season came and I thought it was time to make the most of my teacher status,
     however the end of the ski season came just before the end of the academic year, so summer lan
     guage schools in the UK where my target for teaching and getting some experience (the money wa
     sn't bad either ;)).
  </p>
  <p>
    I got some teaching experience and started thinking of places to work, the options seemed to na
    rrow themselves down quite quickly:
  </p>
  <ul>
    <li>nowhere too hot - that leaves Antarctica, Canada, Alaska and Scandinavia</li>
    <li>somewhere people live - sorry penguins, no English teaching in Antarctica</li>
    <li>somewhere people don't already speak English - that's Alaska and Canada (I know they speak
    French in Quebec) out, and let's face it, the Scandinavians probably speak better English than
    most native speakers!</li>
    <li>Russia</li>
  </ul>
  <p>
    Ok - Russia. But where in Russia? Moscow or St. Petersburg would be interesting, but would I see
    much of the rest of the biggest country in the world if I worked there? I'm not so sure. What
    about somewhere in Siberia? It's definitely not hot, and I'll definitely have to at least transit
    Moscow or Peter. Yes, Siberia sounds like the kind of crazy, unusual place I'd like to go.
  </p>
  <p>
    September 2011 and I'm in Siberia! It's disappointingly warm, but I thought it was a bit strange
    when the pilot said the temperature was '<strong>plus</strong> sixteen', as if it would be '
    <strong>minus</strong> sixteen'! Haha!
  </p>
  <p>
    I worked in the Tyumen school for the first two months of my contract, but then November came and
    I was sent up to Nizhnevartovsk. The didn't announce the temperature when the train arrived,
    at lest not in English (my Russian still wasn't that good at this point), but if they had, and
    knowing a bit about Russians, the announcement would have sounded something like this:
  </p>
  <cite>
    'Welcome to Nizhnevartovsk. The outside temperature is twenty degrees.'
  </cite>
  <p>
    You may be wondering what seems so strange about this... Twenty seems rather warm? How come they
    wouldn't've said 'plus twenty' like the pilot's 'plus sixteen'? Two valid questions and both
    easily answered: they wouldn't've said 'plus twenty' because the temperature was in fact minus
    twenty!
  </p>
  <p>
    A year goes by and a new one begins, I find my teaching feet and in January 2013 (the 4th to be
    precise) I meet a nice girl, who nearly two years later (on 2oth December 2014) becomes my wife.    
  </p>
  <p>
    And the rest of our life is waiting to happen and fill this page.
  </p>
  <p>
    Thsnks for reading ;)
  </p>
</article>