/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require thermostat
 */
*{
    text-decoration:none;
    color:inherit;
    font-family:sans-serif;
}
body{
    height:100%;
    background:linear-gradient(#F1F1F4, #fff) fixed;
}
/*h1, h2, h3, h4, h5, h6, p{*/
/*    margin: 0.5em;*/
/*}*/
p{
    font-size: 16px;
}
h4{
    font-size: 18px;
}
h3{
    font-size: 24px;
}
h2{
    font-size: 28px;
}
h1{
    font-size: 32px;
}
#top{
    position:relative;
    z-index:1;
    width:100%;
    margin:-8px;
    margin-bottom: 0;
    padding:5px;
}
#title{
    display:inline-block;
    width:200px;
    margin:0;
}
#user{
    display:inline-block;
    float:right;
    width:120px;
    text-align:right;
    vertical-align:middle;
    height:auto;
    padding:10px;
}
#user :hover{
    text-decoration:underline;
}
#navtop{
    width:100%;
    height:30px;
    margin:5px 0;
    background:linear-gradient(#123456, #AFAFB3);
    color:#FFFFFF;
    border-radius:7px;
}
#navtop ul{
    padding:0;
}#navtop ul li{
    display:inline-block;
    height:16px;
    width:122px;
    padding:5px;
    border-width:2px;
    border-style:solid;
    border-color:transparent;
}
#navtop ul li:hover{
    background:inherit;
    border-style:solid;
    border-color:#484848;
    border-radius:7px;
    background:linear-gradient(#AFAFB3, #123456);
}
#navtop ul li:before{
    content:"> ";
    color:#FFFFFF;
    visibility:hidden;
}
#navtop ul li:hover:before{
    content:"> ";
    visibility:visible;
    color:#ABCDEF;
    transform:rotatey(720deg);
    transition-duration:1s;
}
#navtop ul li:after{
    content:" <";
    color:#FFFFFF;
    visibility:hidden;
}
#navtop ul li:hover:after{
    content:" <";
    visibility:visible;
    color:#ABCDEF;
    transform:rotatey(-360deg);
    transition-duration:1s;
}
#navtop ul li a{
    font-size:14px;
    color:#FFFFFF;
    left:0;
}
#navtop ul ul{
    z-index:10;
    float:left;
    display:block;
    visibility:hidden;
    background:linear-gradient(#AFAFB3, #123456);
    height:0;
    margin:0;
    padding:0;
}
#navtop ul li:hover ul{
    position:absolute;
    visibility:visible;
    height:auto;
    transition-property:height;
    transition-duration:5s;
}
#navtop ul ul li{
    display:block;
    height:16px;
    width:122px;
    background:linear-gradient(#123456, #AFAFB3);
    border-width:2px;
    border-style:solid;
    border-color:#484848;
    border-radius:7px;
    margin-left:-7px;
    margin-bottom:-2px;
    transition:all ease-in-out;
    transition:visibility;
}
.notice{
    border: 15px solid #004800;
    border-radius: 15px;
    background-color: #004800;
    color: #FFFFFF;
    margin: 5px;
}
main{
    margin-bottom:50px;
}
main a:hover{
    text-decoration: underline;
}
main form{
    line-height: 2em;
    display: block;
}
main form table{
    margin: 0 auto;    
}
main form tr td:first-child{
    text-align: right;
}
main input, textarea, button{
    width: 300px;
    border: 15px solid #484848;
    border-radius: 15px;
    background-color: #484848;
    color: #FFFFFF;  
}
main .blob{
    padding: 10px;
    border-radius: 15px;
    background:linear-gradient(#123456, #9F9FA3);
    color: #FFFFFF;
    margin: 5px;
}
main .blob :first-child{
    margin-top: 0;
}
main .blob :last-child{
    margin-bottom: 0;
}
main .blob h3 small{
    font-size: 16px;
    color: #cccccc;
    font-weight: 300;
}
main .blob input, textarea, select{
    border: 15px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #484848;  
}
main .blob select{
    font-size: 26;
    border: 15px solid #FFFFFF;
    border-radius: 15px;
}
main .blob input[type="submit"]{
    display: block;
    width: auto;
    margin: auto;
}
main input[type=radio]{
    width: 26px;
    height: 26px;
}
main .progmob{
    display:none;
}
main .progpc{
    display:inline;
}
main #submit, button{
    width: 150px;
    margin: 0 auto;
}
main #sums{
    font-size:28px;
    margin: 0 auto;
}
main #sums td{
    padding: 10px;
}
main #sums #buttons{
    position: static;
    display: block;
    width: 350px;
    margin: 0 auto;
}
main #fourlettertable{
    margin: 0 auto;    
}
main #fourlettertable th{
    border-radius:10px;
    width: 175px;
    background: #484848;
    color: #FFFFFF;
}
main #fourlettertable td{
    border-radius:10px;
    width: 150px;
}
main #fourlettertable .rw{
    text-align: center;
    background: #D8D800;
}
main #fourlettertable .rr{
    text-align: center;
    background: #00D800;
}
main #fourlettertable .gu{
    background:#123456;
    color: #FFFFFF;
    padding-left: 10px;
}
main #fourlettertable main input{
    border: 15px solid #484848;
    border-radius: 15px;
    background-color: #484848;
    color: #FFFFFF;
    font-size: 26px;
}
main .question{
    display: block;
    width: auto;
}
main #projects{
    width: 80%;
    margin: auto;
}
main .project{
    display: inline-block;
    width: 250px;
    margin: 10px;
}
footer{
    background:linear-gradient(#fff, #F1F1F4) fixed;
    width:100%;
    position:fixed;
    bottom:0;
}
footer p{
    text-align: center;
    vertical-align: center;
}
footer a:hover{
    text-decoration: underline;
}
.mob{
    display:none;
}
@media (max-width: 576px){
    #navtop{
        height:auto;
        width:auto
    }
    #navtop ul li:hover{
        width:144px;
        margin:0;
    }
    #navtop ul ul li{
        width:144px;
    }
    .mob{
        display:block;
    }
    main{
        margin-top:0;
    }
    main input, textarea, button{
        width: 150px;
    }
    main .progmob{
        display:inline;
        /*margin:auto;*/
    }
    main .progpc{
        display:none;
    }
    main .nomob{
        display:none;
    }
    main .blob input[submit]{
        color:#484848;
    }
}
@media (max-width: 375px){
    #user{
        float:left;
        padding:0 10px 0 10px;
    }
}