// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fourlettertable main{
    font-size: 26px;
}
main form{
    line-height: 2em;
    display: block;
}
#fourlettertable{
    margin: 0 auto;    
}
#fourlettertable th{
    border-radius:10px;
    width: 175px;
    background: #484848;
    color: #FFFFFF;
}
#fourlettertable td{
    border-radius:10px;
    width: 150px;
}
#fourlettertable .rw{
    text-align: center;
    background: #D8D800;
}
#fourlettertable .rr{
    text-align: center;
    background: #00D800;
}
#fourlettertable .gu{
    background:#123456;
    color: #FFFFFF;
    padding-left: 10px;
}
#fourlettertable main input{
    border: 15px solid #484848;
    border-radius: 15px;
    background-color: #484848;
    color: #FFFFFF;
    font-size: 26px;
}
main #submit{
    width: 150px;
    margin: 0 auto;
}