// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main *{
    font-size: 26px;
}
main form{
    line-height: 2em;
    display: block;
}
main form table{
    margin: 0 auto;    
}
main form tr td:first-child{
    text-align: right;
}
main form input{
    border: 15px solid #484848;
    border-radius: 15px;
    background-color: #484848;
    color: #FFFFFF;
}
main form input[text], textarea{
    width: 300px;    
}
main input[type=radio]{
    width: 26px;
    height: 26px;
}
main #submit{
    width: 150px;
    margin: 0 auto;
}